body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    background-color: #EFEFEF;
    color: #333333;
    min-width: 1440px;
}

.container {
    width: 1140px;
    padding: 0 15px;
    margin: 0 auto;
}
