<footer class="footer">
    <div class="footer__top">
        <div class="container">
            <div class="footer__content">
                <ul class="footer__social social">
                    <li class="social__item"><a class="social__link" href="#">
                        <img class="social__img" src="assets/img/youtube.svg" alt="youtube" title="youtube">
                    </a></li>
                    <li class="social__item"><a class="social__link" href="#">
                        <img class="social__img" src="assets/img/vk.svg" alt="vk" title="vk">
                    </a></li>
                    <li class="social__item"><a class="social__link" href="#">
                        <img class="social__img" src="assets/img/facebook.svg" alt="facebook" title="facebook">
                    </a></li>
                    <li class="social__item"><a class="social__link" href="#">
                        <img class="social__img" src="assets/img/instagram.svg" alt="instagram" title="instagram">
                    </a></li>
                </ul>
                <address class="footer__address">198555, Невский пр. 140, офис 140</address>
                <div class="footer__callback callback">
                    <a class="callback__phone" href="tel:+78121234567">8 (812) 123-45-67</a>
                    <button class="callback__btn" type="button">Обратный звонок</button>
                </div>
            </div>
        </div>
    </div>
    <div class="footer__bottom">
        <div class="container">
            <div class="footer__copyright-policy">
                <p class="footer__copyright">Лучший магазин &copy;&nbsp;2019 Все права защищены. Интернет-магазин оборудования для салонов красоты</p>
                <a class="footer__policy" href="#">Политика конфиденциальности</a>
            </div>

        </div>
    </div>
</footer>
