<header class="header">
    <div class="header__top top-header">
        <div class="container">
            <nav class="top-header__menu menu">
                <ul class="menu__list">
                    <li class="menu__item"><a class="menu__link" href="#">Доставка</a></li>
                    <li class="menu__item"><a class="menu__link" href="#">Оплата</a></li>
                    <li class="menu__item"><a class="menu__link" href="#">Отзывы</a></li>
                    <li class="menu__item"><a class="menu__link" href="#">Вопрос - ответ</a></li>
                    <li class="menu__item"><a class="menu__link" href="#">Контакты</a></li>
                </ul>
            </nav>
        </div>
    </div>
    <div class="header__body body-header">
        <div class="container">
            <div class="body-header__content">
                <a class="body-header__logo logo" href="#">
                    <img class="logo__img" src="assets/img/logo.svg" alt="" width="80" height="80">
                    <span class="logo__text">BEAUTY</span>
                </a>
                <div class="body-header__callback callback">
                    <a class="callback__phone" href="tel:+78121234567">8 (812) 123-45-67</a>
                    <button class="callback__btn" type="button">Обратный звонок</button>
                </div>
            </div>
        </div>
    </div>
    <div class="header__catalog catalog-header">
        <div class="container">
            <ul class="catalog-header__list">
                <li class="catalog-header__item">
                    <a class="catalog-header__link" href="#">Парикмахерская</a>
                </li>
                <li class="catalog-header__item">
                    <a class="catalog-header__link" href="#">Барбершоп</a>
                </li>
                <li class="catalog-header__item">
                    <a class="catalog-header__link" href="#">Маникюр</a>
                </li>
                <li class="catalog-header__item">
                    <a class="catalog-header__link" href="#">Педикюр</a>
                </li>
                <li class="catalog-header__item">
                    <a class="catalog-header__link" href="#">Массаж</a>
                </li>
                <li class="catalog-header__item">
                    <a class="catalog-header__link" href="#">Мебель</a>
                </li>
            </ul>
        </div>
    </div>
</header>
